@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @*<li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>*@
            <li>
                <a type="button" class="btn btn-danger btn-sm"
                   href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
    }
}
else
{
    <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
        <a type="button" class="btn btn-info" href="@Url.Action("Login","Account")">
            Login
        </a>
        <div class="btn-group btn-group-sm" role="group">
            <button id="btnGroupDrop3" type="button"
                    class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="btnGroupDrop3">
                <a class="dropdown-item" href="@Url.Action("Register","Account")">Register</a>
            </div>
        </div>
    </div>

    @*<ul class="nav navbar-nav navbar-right">
        @Html.Action("Login","Account")
        @Html.Action("Register","Account")
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>*@
}
