@model ProductBacklogForProjects.Models.ViewModels.ProjectThumbnailAreaModel

@if (!Model.Title.Equals(string.Empty))
{
    <div class="headline">
        <h2>@Model.Title</h2>
    </div>
}
<div class="create-btn">
    <a class="btn btn-sm btn-primary" href="/Home/CreateProject">
        <span class="glyphicon glyphicon-plus"></span>
        Create new Project
    </a>
</div>
<br />
@if (Model.Projects != null)
{
    foreach (var thumb in Model.Projects)
    {
        <div class="col-sm-3">
            <div class="thumbnail">
                <div class="caption">
                    <h3><a href=@thumb.Link>@thumb.Name</a></h3>
                    <p>@thumb.Description</p>
                </div>
                <p>
                    <a type="button" class="btn btn-primary btn-sm"
                       href="@Url.Action("EditProject", new {id = thumb.Id})">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a type="button" class="btn btn-danger btn-sm"
                       href="@Url.Action("DeleteProject", new {id = thumb.Id})">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </p>
            </div>
        </div>
    }
}

